body,html {
    font-family: Arial, sans-serif;
    background-color: #111a2e;
    margin: 0;
    padding: 0;
    text-align: center;
    
    color: #fff;


}

 /* general */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0c121f;
    
    
    color: #000000;

}  
.container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    

}

.logo { 
    width: 50px;
    height: auto;
    border-radius: 100%;
}
.container-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 40px;
    color: #dad9d9;


}   

.container-icon-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;



}

footer {
            margin-top: 40px;
            padding: 25px;
            background-color: #020617;
            font-size: 14px;
            color: #94a3b8;
            text-align: center;
            
        }        



/* index */

.titulo {
    font-size: 24px;
    color: #000000;
    margin: 0;
    background-image: url('imagen-titulo.png');
    background-size: cover;
    background-position: center;
     height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    text-align: center;
    
}
.inicio { padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    background-color: #0e1524;
}

.galeria {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        .galeria img {
            flex: 1;              
            max-width: 33.33%; 
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }

        .galeria img:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }





.paginas {
    color: inherit;
    text-decoration: none;
    
}
.paginas:hover {
    color: #797979;
    
}
 




 
/* ubicacion */


#mapa {
  
  height: 400px;
  margin: 20px ;
     padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    
}

.info-ubicación {
  
  
  padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    background-color: #0e1524;
  
  
}

/* juegos  */

/* consolas */

.container-consolas {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 20px;
}

.item-consola {
    border-radius: 10px;
    background-color: #152038 ;
    margin: 25px;
}

.item-consola:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    
}



.item-consola img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    transition: all .5s ;
    
}

.item-consola figure {
    overflow: hidden;
   
    
}


.item-consola:hover img {
    transform: scale(1.2);
    
}

.info-consola {
    padding: 15px, 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}   

.container-consolas a{
     color: inherit;
    text-decoration: none;


}

/* videojuegos */

.container-juegos {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 20px;
}

.item-juego {
    border-radius: 10px;
    background-color: #152038 ;
    margin: 25px;
}

.item-juego:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    
}



.item-juego img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all .5s ;
    
}

.item-juego figure {
    overflow: hidden;
   
    
}


.item-juego:hover img {
    transform: scale(1.2);
    
}

.info-juego {
    padding: 15px, 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}   









/* eventos */





/* juegos del mes */




/* contactos */

    



/* style telefono */


@media (max-width: 768px) {


    /* general */
  header {
    flex-direction: row;
    align-items: center;
  }
  .container-menu a h3 {
  font-size: 16px;
  
}


 
  .container-menu {
    position: fixed;
  top: 0;
  right: -100%; /* oculto fuera de pantalla */
  
  width: 60%; /* podés probar 50% si querés más pequeño */
  height: 100vh;

  background-color: #111a2e;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  gap: 20px;

  transition: right 0.3s ease;
  z-index: 1000;
  box-shadow: -5px 0 15px rgba(0,0,0,0.5);
  }
  .container-menu.active {
     right: 0;
  }
  .container-icon-menu {
    display: block;
    color: #fff;
  }
  .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 900;
}

.overlay.active {
  display: block;
}


  /* index */
  .galeria {
    flex-direction: row;
  }

  .galeria img {
    max-width: 100%;
    height: auto;
   width: 105px;
  }
  .titulo {
    height: 300px;
    font-size: 18px;
     }


  /* ubicacion */
  #mapa {
    
    margin: 20px ;
     padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    height: 250px;
    width: 250px;
  }

  
/* juegos */

/* consolas */

.container-consolas {
    
    
     display: flex;
     align-items: center;
     flex-direction: column;
     
    

}

.item-consola {
    border-radius: 10px;
    background-color: #152038 ;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
   height: 150px;
   width: 320px;
   justify-content: center;

}





.item-consola img {
    width: 100%;
    height: 100%;
    max-width: 110px;
    
    object-fit: cover;
   
    
}

.item-consola figure {
    overflow: hidden;
   
    
}


.item-consola:hover img {
    transform: scale(1.2);
    
}

.info-consola {
    
    
   
   
    
    margin-right: 20px;
}   

.container-consolas a{
     color: inherit;
    text-decoration: none;


}

/* videojuegos */

.container-juegos {
   display: flex;
     align-items: center;
     flex-direction: column;
     
    
}

.item-juego {
    border-radius: 10px;
    background-color: #152038 ;
    display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
   height: 150px;
   width: 320px;
   justify-content: center;

}

.item-juego:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    
}



.item-juego img {
   width: 100%;
    height: 100%;
    max-width: 110px;
    
    
    object-fit: cover;
}

.item-juego figure {
    overflow: hidden;
   
    
}


.item-juego:hover img {
    transform: scale(1.2);
    
}

.info-juego {
    text-align: center;
    margin-right: 20px;
    max-width: 30%;
    
}   


/* eventos */





/* juegos del mes */




/* contactos */

  
 
  
}

